
<link href="/public/css/register.css" rel="stylesheet" type="text/css"/>

<div class="aw-register-box">
    <div class="mod-head">
        <span>{{notice}}</span>
        <a href="{{href}}">{{info}}</a>
    </div>

    <div class="mod-footer"></div>
</div>
